<div class="row top-buffer">
    <div class="list-group col-lg-3">
        <br />
        <a href="#" class="list-group-item active">
            Категории
        </a>
        <a href="../Themes" class="list-group-item">Упрапвление Блогами </a>
        <a href="../News/View" class="list-group-item">Упрапвление Новостями </a>
    </div>
</div>
