@model IEnumerable<web.Models.Category>
@{
    ViewBag.Title = "Главная страница";
}

<div class="row top-buffer">
    <div class="list-group col-lg-3">
        <a href="#" class="list-group-item active">
            Категории
        </a>
        @foreach( var  item in Model)
    {
        <a href="/Themes/category/@item.id" class="list-group-item">@item.text </a>
    }
    </div>
</div>