@model IEnumerable<web.Models.News>


<div class="container">
    <div class="row">
    <div class="col-md-12">
        
            @foreach (var news in ViewBag.news)
            {
                <h3><p align="center">@news.title</p></h3>
                <p>@news.body</p>
            }
        </div>
        </div>
    </div>
</div>

